<footer class="footerurbana d-flex justify-content-around">
<div class="card  " >
  <img src="/images/facebook.png" class="card-img-top m-1" alt="...">
  <a href="https://www.facebook.com/planetbikeargentina">Facebook</a>
  </div>
<div class="card" >
  <img src="/images/instagram.png" class="card-img-top" alt="...">
  <a href="">Instagram</a>
  </div>
<div class="card" >
  <img src="/images/whatsapp.png" class="card-img-top" alt="...">
  <a href="">whatsapp</a>
  </div>


</footer>