
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta HTTP-EQUIV="REFRESH" CONTENT="50;URL=http://localhost:3000/home" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bodyintro">

    <header class="header content">
      <div class="header-video">
        <video
          autoplay="autoplay"
          loop="loop"
          muted
          defaultMuted
          src="/images/video_intro_final1.mp4"
        ></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
      
        <a href="/home" class="btn">ENTRAR</a>
      </div>
    </header>

  </body>
</html>