<body class="bodyVideo">
  

    
    <video id="videoBG" poster="/postervideo.jpg" autoplay muted loop>
    
    <source src="../images/goproedit.mp4" type="video/mp4">
        
    </video>
    
      
        <a href="/home" class="btn">ENTRAR</a>
      

    
    
    
    </body>