

<body class="grid-container bodyurbana">
    

<nav class="navbarurbana">{{>navbar}}</nav>
<asaide class="sidebarurbana ">
 <div class="container asaide d-flex justify-content-center ">
   <h1 class="titulo">Eleji la tuya</h1>

 </div> 

</asaide>





<article class="mainurbana">
    <div class="container d-flex text-center flex-column gap-1">
    <div class="card m-3">
  <img src="/images/CYPRESS -DX-URBANA.jpg" class="card-img-top" alt="...">
  <div class="card-body">
   <span>CYPRESS DX</span>
   <input class="" type="button" value="Mas Info">
   
  </div>
</div>
    <div class="card m-3" >
  <img src="/images/ESCAPE-2-CITY-DISC-URBANA.jpg" class="card-img-top g-1" alt="...">
  <div class="card-body">
    <span>ESCAPE 2</span>
   <input class="" type="button" value="Mas Info">
  </div>
</div>
    <div class="card m-3" >
  <img src="/images/ESCAPE-3-URBANA.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <span>ESCAPE 3</span>
   <input class="" type="button" value="Mas Info" >
    
  </div>
</div>
<div class="pages text-center "><a href="">Siguiente Pagina</a></div>
</div>
</article>

<footer class="footerurbana d-flex justify-content-around">
<div class="card " >
  <img src="/images/facebook.png" class="card-img-top" alt="...">
  <a href="https://www.facebook.com/planetbikeargentina">Facebook</a>
  </div>
<div class="card" >
  <img src="/images/instagram.png" class="card-img-top" alt="...">
  <a href="">Instagram</a>
  </div>
<div class="card" >
  <img src="/images/whatsapp.png" class="card-img-top" alt="...">
  <a href="">whatsapp</a>
  </div>


</footer>
</body>