/* VIDEO DE LA PAGINA DE INICIO */

.bodyintro {
  padding: 0;
  margin: 0;
}

.bodyintro {
  box-sizing: border-box;
}

.bodyintro {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
}



.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #303952;
  z-index: 1;
  opacity: 0.50;
}

.header-content {
  z-index: 2;
  position: absolute;
}

.header-content a {
  position: relative;
  left: 13.5em;
  top: 9em;
}


.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background-color: coral;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

@media (max-width: 960px) {
  .content {
    padding: 0 3rem 0 3rem;
  }
}

/* FIN DE SECCION */

/* ESTILOS PARA EL TEXTO Y EL NAVBAR DE HOME */
.headerHome {
  margin-bottom: 5px;
}

.headerHome div h1 {
  margin-top: 5px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 7em;
  color: white;
  font-weight: bold;
  text-align: justify;
}

.cardPrincipal {
  height: 45em;
  width: 97em;
}

.tituloSecciones {
  font-size: 2em;
  margin: 1em;
}

/* FIN DE SECCION */

/*MEDIA QUERYS PARA PAGINA HOME  */
@media screen and (max-width: 391px) {
  .cardPrincipal {
    height: 26em;
    width: 25em;
  }
  .headerHome div h1 {
    margin-top: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
  }
 .videointro {
   width: 5em;
   position: relative;
   top: 1em;
   height: 3em;
 }
  
  .header-content a {
    position: relative;
    left: 3em;
    top: 9em;
  }
}
@media screen and (min-width: 391px) and (max-width: 413px) {
  .cardPrincipal {
    height: 30em;
    width: 25em;
  }
  .headerHome div h1 {
    margin-top: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
  }
  .videointro {
    width: 5em;
    position: relative;
    top: 1em;
    height: 3em;
  }
   
   .header-content a {
     position: relative;
     left: 3em;
     top: 9em;
   }
 
}
@media screen and (min-width: 820px) and (max-width: 900px) {
  .cardPrincipal {
    height: 33em;
    width: 52em;
  }
  .headerHome div h1 {
    margin-top: 10px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
  }
}

.clientes {
  background-size: cover;
  background: rgb(247,244,242);
background: linear-gradient(90deg, rgba(247,244,242,1) 0%, rgba(228,153,14,1) 50%, rgba(255,235,0,1) 100%);
}

div ul .titulocat {
  font-family: "Alumni Sans", sans-serif;
  font-size: 30px;
  text-decoration: underline;
}
div ul a {
  font-family: "Alumni Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  
}

.asaidecat {
  display: inline-table;
}
.bodyurbana {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Alumni Sans", sans-serif; 
  font-size: 1.2rem;
  min-height: 100%;
  background-size: cover;
  background: rgb(247,244,242);

}
.grid-container * {
 
  border-radius: 4px;
  padding: 10px;
  text-align: center;

}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 300px 300px auto ;
grid-template-rows:  40em 100px auto auto;
grid-template-areas: 
"navbar navbar navbar"
"sidebar sidebar sidebar"
"main main main"
"footer footer footer";

}


.navbarurbana{
  height: 40em;
  grid-area: navbar;
  background-image: url(../images/biciurbana.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
 }
.navbarmontaña{
  height: 40em;
  grid-area: navbar;
  background-image: url(../images/escenabici2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
 }
.navbarnosotros{
  height: 40em;
  grid-area: navbar;
  background-image: url(../images/nosotrosgrupociclistas.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;
 }
  

  

.mainurbana {
  grid-area: main;
  background-color:white;
  display: flex;
  display: inline;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  
}
.sidebarurbana {
  grid-area: sidebar;
  background-color:azure;
  text-align: center;
  margin-top: 0.5em;
  margin-left: 0.5em;

}

.footerurbana {
  grid-area: footer;
  background-color:#333;
  
  
  
}
.footerurbana .card {
  margin: 1em;
}
.footerurbana .card img {
  width: 4em;
}
.footerurbana .card a {
  text-decoration: none;
  font-family:"Alumni Sans", sans-serif; 
  color:black;
  text-align: center;
  
  
}
@media  (max-width: 600px) {
  .bodyurbana{
    
    grid-template :
    "navbar" 200px
    "sidebar"auto
    "main"auto
    "footer" auto;
    gap: 1em;
    
  }
}
@media  (max-width: 392px) {
  .bodyurbana{
    
    grid-template :
    "navbar" 350px
    "sidebar"auto
    "main" auto
    "main" auto
    "footer" 20em;
    gap: 1em;
    
  }
  .navbarurbana{
    height: 16.5em;
    
   }
    
}

.pages a {
  font-size: 2em;
  text-decoration: none;
  font-family:"Alumni Sans", sans-serif; 
  color:black;
}

.asaide{
  display: flex;
  flex-direction: row;
}
.asaide a {
  text-decoration: none;
  font-size: 1em;
  color: black;
  border-bottom: 1em ;
}
.titulo {
  font-size: 2em;
  font-weight: bold;
}
.navbarAc {
  height: 30em;
  grid-area: navbar;
  background-image: url(../images/lentescascopersona.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 1em;

}
.headerAc div ul li a {
  font-size: 3em;
  color: red;
  font-family:"Alumni Sans", sans-serif; 
}
@media  (max-width: 392px) {
  .cardAc {
    flex-direction: column;
    
  }
  .cardAc1 {
    flex-direction: column;
  }

  .listaAc {
    flex-direction: column;
  }

}
.headernav div ul li a {
  text-decoration:none;
  color: orange;
  
  }
  #videoBG {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
  }
  @media (min-aspect-ratio:16/9) {
    #videoBG {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio:16/9){
    #videoBG {
      width: auto;
      height: 100%;
    }
  }
  @media (max-width: 767px) {
    #videoBG {
      display: none;
    }
    .bodyVideo {
      background-image: url("../images/postervideo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }
  }
   .btn {
    position: relative;
    top:28em;
    left:35em;
  }